# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# cloud
cloudfunctionTemplate/

# Node.js
package-lock.json
node_modules/
typings/
